// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    margin: 15px 0;
}

tr {
    display: table-row;
    vertical-align: middle;
}


td {
    padding: 3.5px 5px;
}

h2 {
    margin: 15px 0;
}
